<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>抓包软件</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.2/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" th:href="@{index.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
    <!--    <script src="https://cdn.jsdelivr.net/npm/stompjs@7.3.0/dist/stomp.min.js"></script>-->
    <!--    <script src="https://cdn.jsdelivr.net/npm/stompjs@7.3.0/dist/stomp.min.js"></script>-->

    <style>
        .input-container {
            position: relative;
            display: inline-block;
            align-items: center;
            width: 300px;
        }

        .input-container input {
            flex: 1;
            height: 26px;
            width: 300px;
            padding: 10px;
            border: none;
            border-radius: 20px;
            background-color: #f1f1f1;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            font-size: 16px;
            color: #333;
        }

        .input-container input:focus {
            outline: none;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            background-color: #b9b9b9;
        }

        .input-container button {
            position: absolute;
            margin-left: 10px;
            padding: 12px 20px;
            border: none;
            border-radius: 20px;
            background-color: #f1f1f1;
            color: #000000;
            font-size: 6px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            right: 80px;
            top: 24px;
            transform: translateY(-50%);
        }

        .input-container button:hover {
            background-color: #b9b9b9;
        }
    </style>

    <script>
        $(document).ready(function (data) {
            let socket = new WebSocket("ws://localhost:8080/data"); // WebSocket的URL，根据实际情况进行修改

            socket.onmessage = function (event) {
                const data = JSON.parse(event.data);
                // 处理接收到的数据，并更新页面
                updateData(data);
            };

            $("#data-table tbody").on("click", "tr", function () {
                const id = $(this).find("td:first").text(); // 获取第一列的文本值作为id
                showDetailedInformation(id); // 调用需要调用的函数并传递id值
            });

            clearTableAndSendRequest();
        });

        document.addEventListener('DOMContentLoaded', function() {
            // 在这里放置需要在DOM加载完成后执行的代码
            document.getElementById('uploadFile').addEventListener('change', function(event) {
                const file = event.target.files[0];
                console.info(file);
                if (file) {
                    uploadFile(file); // 调用上传文件的方法
                }
            });

        });

        function uploadButton(){
            document.getElementById('uploadFile').click();
        }

        function updateData(data) {
            // 根据接收到的数据更新页面上的内容
            // 例如，将数据添加到表格中
            const row = "<tr><td>" + data.id + "</td><td>" + data.time + "</td><td>" + data.source + "</td><td>" + data.destination + "</td><td>" + data.protocol + "</td><td>" + data.length + "</td><td>" + data.info + "</td></tr>";
            $("#data-table tbody").append(row);
        }

    </script>
    <script>
        var openFile = false;
        var mutix = true;

        function showDetailedInformation(id) {
            let content = "";

            const contentContainer = document.getElementById("detailInfo-container");

            axios.get('/dataProcessing/dataDetail/'+id).then(res =>{
                openModal("detailInfo-modal1");
                console.log(res.data);
                content += "<h3>"+ "Frame" +"</h3>";
                content += "<div style='line-height: 1;'>" + iterateObject(res.data.frame,2) + "</div>";

                if(res.data.ethernet && res.data.ethernet.value && res.data.ethernet.key){
                    content += "<h3>"+  "Ethernet:" + res.data.ethernet.value + "</h3>";
                    content += "<div style='line-height: 1;'>" + iterateObject(res.data.ethernet.key,2) + "</div>";
                }
                if(res.data.internet && res.data.internet.value && res.data.internet.key){
                    content += "<h3>"+  "Internet:" + res.data.internet.value + "</h3>";
                    content += "<div style='line-height: 1;'>" + iterateObject(res.data.internet.key,2) + "</div>";
                }
                if(res.data.atransport && res.data.atransport.value && res.data.atransport){
                    content += "<h3>"+  "Transport:" + res.data.atransport.value + "</h3>";
                    content += "<div style='line-height: 1;'>" + iterateObject(res.data.atransport.key,2) + "</div>";
                }
                if(res.data.application && res.data.application.value && res.data.application){
                    content += "<h3>"+  "Application:" + res.data.application.value + "</h3>";
                    content += "<div style='line-height: 1;'>" + iterateObject(res.data.application.key,2) + "</div>";
                }

                contentContainer.innerHTML = content;
            }).catch(error => {
                console.info(error);
                showErrorMessage("数据获取失败");
            });

        }

        function iterateObject(obj,offset){
            let content = "";
            for (let cur in obj){
                if(obj.hasOwnProperty(cur)){
                    if(typeof obj[cur] === 'object' && obj[cur] !== null){
                        content += "<p style='margin-left: "+offset+"em;'>"+"<strong>"+cur+" :"+"</strong>"+"</p>";
                        content += iterateObject(obj[cur],offset+2);
                    }else content += "<p style='margin-left: "+offset+"em;'>"+"<strong>"+cur+" :"+"</strong>"+obj[cur]+"</p>";
                }
            }
            return content;
        }

        function openCapture() {
            if (!mutix) return;
            if(openFile){
                clearTableAndSendRequest();
                uploadFile=false;
            }
            mutix = false;
            let networkSelect = document.getElementById("networkSelect");
            let netWordName = networkSelect.value;
            if (netWordName === "") {
                showErrorMessage("请先选择监听的网卡");
                mutix = true;
                return;
            }
            axios.post('/packetCapture/open', netWordName);
        }

        function closeCapture() {
            if (mutix) return;
            mutix = true;
            axios.post('/packetCapture/close');
        }

        function clearTableAndSendRequest() {
            // 获取表格的 tbody 元素
            const tableBody = document.querySelector('#data-table tbody');

            // 移除 tbody 中的所有子节点
            while (tableBody.firstChild) {
                tableBody.removeChild(tableBody.firstChild);
            }

            // 发送 DELETE 请求到后端
            axios.delete('/dataProcessing/clearDataArray').then(function (response) {
            }).catch(function (error) {
            });

            mutix = true;
        }

        function toggleDropdown() {
            var selectElement = document.querySelector('.custom-select select');
            var customSelect = document.querySelector('.custom-select');
            customSelect.classList.toggle('open');
            selectElement.focus();
        }

        function networkChange() {
            openModal("modal");
        }

        function openModal(event) {
            const modal = document.getElementById(event);
            modal.style.display = "block"; // 显示弹框
        }

        function closeModal(event) {
            const modal = document.getElementById(event);
            modal.style.display = "none"; // 隐藏弹框
        }

        //显示success类型的信息
        function showSuccessMessage(event) {
            const successMessage = document.getElementById("success-message");
            successMessage.style.display = "block";
            document.getElementById("success-message").innerHTML = event;
            setTimeout(function () {
                successMessage.style.display = "none";
            }, 1000);
        }

        //显示error类型的信息
        function showErrorMessage(event) {
            const errorMessage = document.getElementById("error-message");
            errorMessage.style.display = "block";
            document.getElementById("error-message").innerHTML = event;
            setTimeout(function () {
                errorMessage.style.display = "none";
            }, 1000);
        }

        //显示info类型的信息
        function showInfoMessage(event) {
            const errorMessage = document.getElementById("info-message");
            errorMessage.style.display = "block";
            document.getElementById("info-message").innerHTML = event;
            setTimeout(function () {
                errorMessage.style.display = "none";
            }, 1000);
        }

        //保存数据
        function save() {
            downloadFile("保存成功", "保存失败");
            clearTableAndSendRequest();
            closeModal("modal");
        }

        function unSave() {
            clearTableAndSendRequest();
            closeModal('modal');
        }

        //导出文件
        function downloadFile(e1, e2) {
            const tbody = document.querySelector('#data-table tbody');
            if (tbody.children.length <= 0) {
                showInfoMessage("没有捕获到任何数据包");
                return;
            }
            axios({
                url: '/dataProcessing/fileDownload',
                method: 'GET',
                responseType: 'blob',  // 响应数据类型为blob
            })
                .then(function (response) {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'packet.pcap');  // 设置文件名
                    document.body.appendChild(link);
                    link.click();
                    showSuccessMessage(e1);
                })
                .catch(function (error) {
                    console.log(error);
                    showErrorMessage(e2);
                });
        }

        function uploadFile(file) {
            if(!file.name.endsWith(".pcap")){
                showErrorMessage("上传的文件不是*.pcap文件");
                return ;
            }
            const formData = new FormData();
            formData.append('file', file);
            console.info(file);
            axios.post('/uploadFile', formData).then(function(res) {
                //先清理数据
                // clearTableAndSendRequest();
                // 文件上传成功的处理逻辑
                const dataList = res.data;
                let rows='';
                dataList.forEach(data => {
                    const row = "<tr><td>" + data.id + "</td><td>" + data.time + "</td><td>" + data.source + "</td><td>" + data.destination + "</td><td>" + data.protocol + "</td><td>" + data.length + "</td><td>" + data.info + "</td></tr>";
                    rows += row;
                });
                const tableBody = document.querySelector('#data-table tbody');
                tableBody.innerHTML = rows;
                openFile=true;
                console.log('文件上传成功');
            }).catch(function(error) {
                // 文件上传失败的处理逻辑
                console.error('文件上传失败:', error);
            });
        }

    </script>

</head>
<body>
<div id="success-message" class="success-message">
    保存成功！
</div>

<div id="error-message" class="success-message">
    操作失败！
</div>

<div id="info-message" class="success-message">
    操作异常！
</div>

<header>
    <a href="https://github.com/pipilongstar" target="_blank">
        <img src="https://github.com/favicon.ico" alt="GitHub">
    </a>
    <h1>抓包软件</h1>
</header>

<div class="container" style="margin-top: 0;">
    <div style="display: inline-block;">
        <form id="open" onsubmit="openCapture(); return false;" style="display: inline-block;">
            <button id="openButton" type="submit" class="styled-button">开始捕获</button>
        </form>
        <form id="close" onsubmit="closeCapture(); return false;" style="display: inline-block;">
            <button type="submit" class="styled-button">停止捕获</button>
        </form>
        <div style="display: inline-block;">
            <button onclick="clearTableAndSendRequest()" class="styled-button" style="display: inline-block;flex: 1">
                清空列表
            </button>
        </div>
    </div>

    <div style="display: flex;">
        <div style="flex: 1">
            <label class="custom-select">
                <select id="networkSelect" class="custom-select" onclick="toggleDropdown()" onchange="networkChange()"
                        style="display: inline-block;">
                    <option value="">请选择监听网卡</option>
                    <option th:each="dev : ${devs}" th:value="${dev.getName()}"
                            th:text="${dev.getDescription()}"></option>
                </select>
            </label>
        </div>
        <div style="display: inline-block; flex: 1">
            <form onsubmit="downloadFile('导出成功','导出失败'); return false;" style="display: inline-block;">
                <button type="submit" class="styled-button">导出文件</button>
            </form>

            <button id="uploadButton" class="styled-button" onclick="uploadButton()">导入文件</button>
            <input type="file" id="uploadFile" style="display: none;" />
        </div>
        <div class="input-container" style="flex: 1">
            <input type="text" id="dataInput" placeholder="输入过滤条件">
            <button onclick="processData()"><i class="ri-arrow-right-s-line" style="font-size: 20px;"></i></button>
        </div>
    </div>
</div>

<div id="modal" class="modal">
    <div class="modal-content">
        <!-- 弹框内容 -->
        <h3>您是否要保存已经捕获的分组，否则将会丢失</h3>
        <div style="text-align: center;">
            <button onclick="save()" class="save-button">保存</button>
            <button onclick="unSave('modal')" class="save-button">不保存</button>
        </div>
    </div>
</div>

<div id="detailInfo-modal1">
    <div id="detailInfo-modal2">
        <span id="close-detailInfo" onclick="closeModal('detailInfo-modal1')">&times;</span>
        <div id="detailInfo-container"></div>
    </div>
</div>

<div style="max-height: 490px;overflow: auto;">
    <table id="data-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Time</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Protocol</th>
            <th>Length</th>
            <th>Info</th>
        </tr>
        </thead>
        <tbody>
        <!-- 这里将动态添加数据行 -->
        </tbody>
    </table>
</div>

<div style="width: 100%;text-align: center;
    position: fixed;bottom: 0;">
    <h5>Copyright © 2023 Pipilong. 皮皮龙技术分享 版权所有</h5>
</div>
</body>
</html>
